{% extends "base.html" %}

{% block title %} | About{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12 text-left p-3 ">
            <p>
                <strong>Anne-Christine Funk is a Belgo-German artist who lives and works in Brussels, Belgium.</strong>
            </p>
            <p> Since her early teens, she draws with oil-pastels and still uses them almost exclusively today on paper canvas. 
                They are a unique medium for creating colorful paintings and can be used for precise definitition when it comes 
                to geometric shaping.</p>
            
            <p> Abstract and geometric shapes are filled with bright colors to catch moments and every day impressions into colorful pieces that 
                inspire to dream.</p>

            <p> By extending abstract thoughts into paintings I have recently come to study another form of abstraction :
                the concept of loneliness in our modern society. Living in a big city has brought me to depict places
                and buildings that are crowded and surrounded by people passing by, individuals that are overly
                interconnected through the internet and social media but yet are visibly lonely, « Zwischenräume » as
                defined by Peter Handke where we feel connected but still are complete strangers to each other. The aim
                is not to find artistic beauty in loneliness but to intercept that modern loneliness surrounding us in
                order to provide a different perspective on who we are and where we live.</p>

        </div>
    </div>
{% endblock %}
