{% extends "base.html" %}

{% block title %} | About{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12 text-left p-3 ">
            <p>
                <strong>Anne-Christine Funk is a Belgo-German artist who lives and works in Brussels, Belgium.</strong>
            </p>
            <p> Since her early teens, she has been drawing with oil-pastels and still uses them almost exclusively today on paper canvas. 
                They are a unique medium for creating colorful paintings and can be used for precise definitition when it comes 
                to geometric shaping.</p>
            
            <p> Abstract and geometric shapes are filled with bright colors to catch moments and every day impressions into colorful 
                pieces that inspire to dream. Her work reveals a story of deconstructed images representing Belgian landscapes and 
                architectures, with sometimes references to symbolic imagery as a way to frame and transform reality. 
                Each piece tends to catch the visual beauty it’s depicting, which is reminiscent of the artist’s anxiety to find 
                balance and visual harmony.</p>

            <p> In her portrait section, Anne-Christine depicts anonymous figures in public spaces of big cities to intercept the 
                solitude in our overly interconnected society. The aim is not to find artistic beauty in this loneliness, 
                but to catch that modern loneliness surrounding us in order to provide a different perspective on who we are and 
                where we live.</p>

        </div>
    </div>
{% endblock %}
