{% extends "base.html" %}

{% block title %} | About{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-8 text-left m-3 ">
            <p>
                <strong>Anne-Christine Funk is a Belgo-German artist who grew up in the meeting place of the borders of
                    Belgium, Germany, and the Netherlands, known as the Three-Country Point. She studied German and
                    Russian
                    literature, philosophy and art at the Free University of Brussels where she currently lives and
                    works.</strong>
            </p>

            <p>
                Her pastel art is an exploration of her world of thoughts reflecting in an abstract and symbolic way
                literary myth and modern landscapes.

            </p>
            <p>
                Her more recent work has been studying the architectural beauty of Brussels streets, parcs and
                landscapes.
                The city’s architecture inspires her work to find artistry and harmony by transforming the urban
                landscapes
                into the expression of her dreams.

            </p>

            <p>
                Her art is not a mimetic representation of the visible world but a subjective interpretation of it: the
                abstract rendering of geometric shapes combined with a surrealistic dimension expand the perceptible
                limits
                of nature and it surroundings. The assemblage of different kind of shapes cover and surround at the time
                the
                image they are catching.

            </p>
            <p>
                Through her world of thoughts she defines in her paintings both the visible and the invisible in order
                to
                depict the beauty lying beneath the curtain of semblance.
            </p>
        </div>
    </div>
{% endblock %}